<a href="https://colab.research.google.com/github/yooje153/-/blob/main/2022_10_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [93]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [94]:
import numpy as np
import pandas as pd

In [102]:
weather = pd.read_csv('data/nyc_weather_2018.csv', parse_dates=['date']) #parse_dates string to datetime
weather.head()

        date datatype            station attributes  value
0 2018-01-01     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1 2018-01-01     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2 2018-01-01     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3 2018-01-01     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4 2018-01-01     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [96]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78780 entries, 0 to 78779
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        78780 non-null  datetime64[ns]
 1   datatype    78780 non-null  object
 2   station     78780 non-null  object
 3   attributes  78780 non-null  object
 4   value       78780 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 3.0+ MB

In [97]:
weather=weather.set_index('date')

In [103]:
weather['quarter'],weather['year']=(weather['date'].dt.quarter,weather['date'].dt.year)

In [105]:
dpq = weather.query('datatype == "PRCP"').groupby(['year','quarter']).sum()
dpq

                value
year quarter
2018 1        26724.5
     2        26174.6
     3        43181.7
     4        37768.5

In [101]:
dpd = weather.query('datatype == "PRCP"').groupby('date').sum()
dpd

             value
date
2018-01-01     0.0
2018-01-02     0.0
2018-01-03     0.0
2018-01-04   273.8
2018-01-05   649.4
...            ...
2018-12-27     0.0
2018-12-28   853.9
2018-12-29  1430.6
2018-12-30     5.0
2018-12-31   301.4

[365 rows x 1 columns]

In [107]:
weather.assign(
    quarterly_total_prcp = dp.groupby(pd.Grouper(freq='Q')).transform(np.sum),
    days_in_the_month = dp.groupby(pd.Grouper(freq='M')).value.transform('count')
).head()

,datatype,station,attributes,value,quarter,year,quarterly_total_prcp,days_in_the_month
date,,,,,,,,
2018-01-01,PRCP,GHCND:US1CTFR0039,",,N,",0.0,1,2018,26724.5,31
2018-01-01,PRCP,GHCND:US1NJBG0015,",,N,",0.0,1,2018,26724.5,31
2018-01-01,SNOW,GHCND:US1NJBG0015,",,N,",0.0,1,2018,26724.5,31
2018-01-01,PRCP,GHCND:US1NJBG0017,",,N,",0.0,1,2018,26724.5,31
2018-01-01,SNOW,GHCND:US1NJBG0017,",,N,",0.0,1,2018,26724.5,31

In [ ]:
weather

            date datatype            station attributes  value  quarter  year
0     2018-01-01     PRCP  GHCND:US1CTFR0039       ,,N,    0.0        1  2018
1     2018-01-01     PRCP  GHCND:US1NJBG0015       ,,N,    0.0        1  2018
2     2018-01-01     SNOW  GHCND:US1NJBG0015       ,,N,    0.0        1  2018
3     2018-01-01     PRCP  GHCND:US1NJBG0017       ,,N,    0.0        1  2018
4     2018-01-01     SNOW  GHCND:US1NJBG0017       ,,N,    0.0        1  2018
...          ...      ...                ...        ...    ...      ...   ...
78775 2018-12-31     WDF5  GHCND:USW00094789       ,,W,  130.0        4  2018
78776 2018-12-31     WSF2  GHCND:USW00094789       ,,W,    9.8        4  2018
78777 2018-12-31     WSF5  GHCND:USW00094789       ,,W,   12.5        4  2018
78778 2018-12-31     WT01  GHCND:USW00094789       ,,W,    1.0        4  2018
78779 2018-12-31     WT02  GHCND:USW00094789       ,,W,    1.0        4  2018

[78780 rows x 7 columns]

In [109]:
dp.assign(
    value_rolling3D = lambda x: x.value.rolling('3D').mean()
).head(10)

            value  value_rolling3D
date
2018-01-01    0.0         0.000000
2018-01-02    0.0         0.000000
2018-01-03    0.0         0.000000
2018-01-04  273.8        91.266667
2018-01-05  649.4       307.733333
2018-01-06    2.3       308.500000
2018-01-07    0.0       217.233333
2018-01-08    7.2         3.166667
2018-01-09   21.3         9.500000
2018-01-10    0.0         9.500000

In [110]:
pd.crosstab(   #.crosstab() 으로 빈도표 만들기
    index=fb.trading_volume,   
    columns=fb.index.month,    #날짜를 월별로 그룹화
    colnames=['month'] 
)

month           1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

In [ ]:
fb.pivot_table(columns='trading_volume')

trading_volume           low           med          high
close           1.714318e+02  1.751438e+02  1.681567e+02
high            1.734610e+02  1.794200e+02  1.704767e+02
low             1.693063e+02  1.721075e+02  1.615733e+02
open            1.713556e+02  1.758181e+02  1.677267e+02
volume          2.454721e+07  7.907256e+07  1.419240e+08

In [ ]:
fb.pivot_table(index='trading_volume',columns=fb.index.month,aggfunc='count')['close']

date            1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

In [ ]:
weather.groupby(pd.Grouper(freq='Q')).value.count()

date
2018-03-31    20343
2018-06-30    19435
2018-09-30    19134
2018-12-31    19868
Freq: Q-DEC, Name: value, dtype: int64